python-dotenv
imagecodecs
Pillow
requests
scikit-image
scikit-learn
torch
torchvision
resnet50-cefas@git+https://github.com/jmarshrossney/resnet50-cefas
cyto_ml@git+https://github.com/NERC-CEH/plankton_ml